-
  const slides = [
    {
      title: "слайдеры",
      text: "интерактивный элемент веб-страницы, который позволяет показывать серию изображений, контента или&nbsp;слайдов в&nbsp;определенной последовательности",
      img: "slider"
    },
    {
      title: "модальные окна",
      text: "всплывающий элемент интерфейса веб-страницы, который захватывает фокус пользователя и&nbsp;блокирует взаимодействие с&nbsp;остальной частью страницы до&nbsp;закрытия окна",
      img: "modal"
    },
    {
      title: "анимации",
      text: "процесс создания и&nbsp;воспроизведения движущихся или&nbsp;изменяющихся элементов интерфейса",
      img: "animation"
    },

  ]

  const tabsData = [
    {
      title: "Tab 1",
      text: "content",
    },
    {
      title: "Tab 2",
      text: "content",
    },
    {
      title: "Tab 3",
      text: "content",
    },
    {
      title: "Tab 4",
      text: "content",
    },
    {
      title: "Tab 5",
      text: "content",
    },

  ]

mixin intro-slider()
  .intro-slider.swiper&attributes(attributes)
    .swiper-wrapper
      .swiper-slide
        +intro-slide()
          .tabs
            .tabs__buttons.js-tabs-buttons
              each btn, index in tabsData
                button.btn.tabs__btn(data-tab-name=`tab-${index}` class= index === 0 ? 'is-active' : '')!= btn.title
            .tabs__content
              each tab, index in tabsData
                .tab(data-tab-name=`tab-${index}` class= index === 0 ? '' : 'visually-hidden')
                  p!= `${tab.title} ${tab.text}`

      .swiper-slide
        +intro-slide()
          +accordion(
            [
            {
              itemText: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dicta dolor dolore dolores id illum molestiae nam numquam odit officiis omnis porro quae quas ratione repellendus sequi, soluta unde vitae!",
              itemTitle: "SubTitle-1",
              itemMod: "unicCls",
            },
            {
              itemText: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dicta dolor dolore dolores id illum molestiae nam numquam odit officiis omnis porro quae quas ratione repellendus sequi, soluta unde vitae!",
              itemTitle: "SubTitle-2",
              isActive: true,
            },
            {
              itemText: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dicta dolor dolore dolores id illum molestiae nam numquam odit officiis omnis porro quae quas ratione repellendus sequi, soluta unde vitae!",
              itemTitle: "SubTitle-3",
            },
            {
              itemText: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dicta dolor dolore dolores id illum molestiae nam numquam odit officiis omnis porro quae quas ratione repellendus sequi, soluta unde vitae!",
              itemTitle: "SubTitle-4",
            },
            {
              itemText: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dicta dolor dolore dolores id illum molestiae nam numquam odit officiis omnis porro quae quas ratione repellendus sequi, soluta unde vitae!",
              itemTitle: "SubTitle-5",
            },
          ],
            {
            itemMods: "myclass1 myclss2"
            }
        )
      each slide in slides
        .swiper-slide
          +intro-slide(slide)
