.intro {
  position: relative;
  color: $color-default-black;
  padding: 100px 0;
}

.intro__content {
  position: relative;
  padding: 60px;

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-default-white;
    filter: blur(40px);
    z-index: -1;
  }

  h1 {
    margin-bottom: 60px;
  }
}

.intro__subtitles {
  font-weight: 600;
  padding-left: 40px;

  li:not(:last-child) p {
    margin-bottom: 16px;
  }
}

.intro__slider-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, max-content));
  gap: 40px;

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.slider-continer {
  min-width: 0;
}

.intro--modal {
  .btn {
    margin-top: 20px;
  }
}
