.main-nav {
  flex-grow: 1;

  display: flex;
  align-items: center;

  padding-left: 96px;

  &__wrapper {
    flex-grow: 1;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(115px, 1fr));
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    margin-right: 20px;
  }

  &__link {
    color: $color-default-white;

    &.is-active {
      opacity: 0.6;
    }
  }

  &__toggle {
    display: none;
  }
}
