.tabs {
  height: 100%;
}

.tabs__content {
  height: 100%;
}

.tabs__btn {
  border-radius: 16px 16px 0 0;
  background-color: $color-gray;
  transition: $trans-default;
}

.tabs__btn.is-active {
  background-color: $color-gray-active;
}
