.tabs {
  height: 100%;

  @include vp-1023 {
    display: grid;
    grid-template-columns: min-content 1fr;
  }
}

.tabs__content {
  height: 100%;
}

.tabs__btn {
  border-radius: 16px 16px 0 0;
  background-color: $color-gray;
  transition: $trans-default;

  @include vp-1023 {
    border-radius: 0 16px 16px 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
}

.tabs__btn.is-active {
  background-color: $color-gray-active;
}
