mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная",
      },
      {
        href: "page-2.html",
        text: "Демонстрация модальное окно"
      },
      {
        title: 'Проекты',
        list: [
          {
            href: "cat/index.html",
            text: "Cat-Energy"
          },
          {
            href: "fitnes/index.html",
            text: "Fitnes"
          },
          {
            href: "smart/index.html",
            text: "Smart"
          },
          {
            href: "arktika/index.html",
            text: "Арктика"
          },

        ],
      },

    ]

  header.header(class=headerMods)
    .container
      +logo("logo-demo")
      nav.main-nav
        button.menu__btn.js-burger(type="button", aria-label="Переключатель отображения меню")
          +icon("burger", 20, 20)
        .main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              if link.list
                li.main-nav__item.sub-menu
                  button(type="button").sub-menu__btn.btn.js-sub-nav-list-btn!= link.title ? link.title : ''
                  ul.sub-menu__list
                    each subLink in link.list
                      li.sub-list__item
                        a(href=subLink.href).main-nav__link= subLink.text
              else
                li.main-nav__item
                  if activeState
                    span.main-nav__link.is-active=link.text
                  else
                    a.main-nav__link(href=link.href)=link.text
            li.main-nav__item
              span.main-nav__link(data-move-to='footer') футер
